* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: #000;
  background: #cec4bb;
}

a {
  color: rgb(101, 44, 69);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
}

.header {
  margin-bottom: 15px;
  background: #eee5e6;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  list-style: none;
}

.menu-item {
  margin-right: 15px;
  font-size: 1.5em;
}
.menu-item:last-child{
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
}

.main {
  display: flex;
  margin-bottom: 15px;
}

.aside-content {
  width: 33%;
  padding: 15px;
  background: #eee5e6;
}

.avatar {
  display: block;
  margin-bottom: 30px;
  border-radius: 100%;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.section-title.decor {
  padding: 5px;
  text-align: center;
  border-bottom: none;
  background: #d0d7d9;
}

.main-content {
  width: calc(67% - 15px);
  margin-left: 15px;
}

.hero {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 363px;
  text-align: center;
  background: #d0d7d9;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 3em;
  line-height: 100%;
}

.hero-content p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #eee5e6;
}

.footer a {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: auto;
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
}